<div style="position: relative;">
    <div style="background-color: #c0c0c0; width: 400px; height: 400px;">
        <div style="background-color: #000000; position: relative; top:50%; bottom: 0; left: 50%; right: 0; width: 50%; height: 50%;"></div>
    </div>
    <hr>
    <div style="background-color: #c0c0c0; width: 400px; height: 400px; position: relative;">
        <div style="background-color: #000000; position: absolute; top:10%; bottom: auto; left: 50%; right: 10%; height: auto;">
        </div>
    </div>
    <hr>
    <div style="background-color: #EEEEEE; width: 400px; height: 400px; position: relative;">
        <div style="background-color: #CCC; position: absolute; top: 0; right: 0; width: 15em; height: 100%; margin-left: auto;">
            <div style="background: #AAA; position: absolute; bottom: 0; left: 0; width: 10em; height: 50%; margin-top: auto;"></div>
        </div>
    </div>
    <hr>
    <div style="position: relative; width: 30em; height: 10em; border: 1px solid;">
        <div style="position: absolute; left: 0; width: 30%; background: #CCC; top: 0;">element A</div>
        <div style="position: absolute; left: 35%; width: 30%; background: #AAA; top: 0; height: 50%;">element B</div>
        <div style="position: absolute; left: 70%; width: 30%; background: #CCC; height: 50%; bottom: 0;">element C</div>
    </div>
    <hr>
    <div style="position: relative; width: 10em; height: 10em; margin-left: -5em; left: 50%; border: 1px solid #000000">
        <div style="position: absolute; left: 0; width: 100%; background: #CCC; top: 0; height: 5em; bottom: 0; margin: auto 0;">element D</div>
    </div>
</div>
