<div class="container">
    <h1>Math</h1>

    <div class="list-group-item col-md-3">
        <a [routerLink]="['Fractal']" class="list-group-item">Fractal</a>
        <a [routerLink]="['Matrix']" class="list-group-item">Matrix</a>
        <a [routerLink]="['Trigonometry']" class="list-group-item">Trigonometry</a>
        <a [routerLink]="['LineIntersection']" class="list-group-item">LineIntersection</a>
        <a [routerLink]="['Tweening']" class="list-group-item">Tweening</a>
        <a [routerLink]="['Easing']" class="list-group-item">Easing</a>
    </div>

    <div class="col-md-9">
        <router-outlet></router-outlet>
    </div>
</div>