<!--<div class="flex-container">-->
    <!--<div class="flex-item">flex item 1</div>-->
    <!--<div class="flex-item">flex item 2</div>-->
    <!--<div class="flex-item">flex item 3</div>-->
<!--</div>-->

<div style="display: block; width: 200px; height: 200px; margin-left: 100px;"><i class="icon-my-360-yunpan" style="font-size: 160px;"></i></div>
<div><i class="icon-my-alibaba" style="font-size: 160px;"></i></div>
<div><i class="icon-my-taobao" style="font-size: 160px;"></i></div>
<div><i class="icon-my-wifi" style="font-size: 160px;"></i></div>
<div><i class="icon-my-youdao" style="font-size: 160px;"></i></div>

<!--<div class="first-face">-->
    <!--<span class="pip"></span>-->
<!--</div>-->
<!--<div class="second-face">-->
    <!--<span class="pip"></span>-->
    <!--<span class="pip"></span>-->
<!--</div>-->
<!--<div class="third-face">-->
    <!--<span class="pip"></span>-->
    <!--<span class="pip"></span>-->
    <!--<span class="pip"></span>-->
<!--</div>-->
<!--<div class="fourth-face">-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="fifth-face">-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="sixth-face">-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
    <!--<div class="column">-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
        <!--<span class="pip"></span>-->
    <!--</div>-->
<!--</div>-->